*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
h3{
    margin-top: .9375rem;
}

form {
    width: 700px;
    margin: 0 auto;
    padding: 1.25rem;
}

label {
    display: block;
    margin-top: 20px;
}

input[type="text"], input[type="date"], input[type="tel"], input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

input[type="checkbox"] {
    margin-top: 10px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}


.body-conteiner {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f4f4;
    flex-direction: column;
}



.contenedorPres {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    width: 100%;
    margin: 20px auto;
    padding: 3.125rem;
}

.tituloPres {
    font-size: 2em;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.fechaPres,
.clientePres,
.domicilioPres,
.contactoPres,
.metrosPres,
.sectoresPres,
.cantidadPres,
.manguerasPres,
.horasPres {
    
    font-size: 1em;
    color: #666;
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.fechaPres{
    margin-top: .9375rem;
}

.totalPres {
    font-size: 1.5em;
    color: #333;
    margin-top: 20px;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    justify-content: right;
}

@media (max-width: 768px) {
    .tituloPres {
        font-size: 1.5em;
    }

    .fechaPres,
    .clientePres,
    .domicilioPres,
    .contactoPres,
    .metrosPres,
    .sectoresPres,
    .cantidadPres,
    .manguerasPres,
    .horasPres {
        font-size: 0.8em;
    }

    .totalPres {
        font-size: 1.2em;
        
    }
}

.encabezado{
    text-align: center;
    font-size: 1.9rem;
    margin-top: .9375rem;
    padding: .9375rem;
}

.contenedorDeFomrulario{
    width: 90%;
}

.contenedorPresupuesto{
    width: 100%;
}

.linea {
    display: flex;
    align-items: center;
    gap: 10px;
}

.contenedorCheckbox{
    padding: 1.25rem;
}

.etiqueta{
    font-size: 1.2rem;
    width: 18.75rem;
}